@page "/games/create"
@inject Blazor.EntityFramework.Data.ApplicationDbContext DB
@using Blazor.EntityFramework.Components
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Game" OnValidSubmit="AddGame" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" />
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Game.Name" class="form-control" /> 
                <ValidationMessage For="() => Game.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="genre" class="form-label">Genre:</label> 
                <InputText id="genre" @bind-Value="Game.Genre" class="form-control" /> 
                <ValidationMessage For="() => Game.Genre" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="releasedate" class="form-label">ReleaseDate:</label> 
                <InputDate id="releasedate" @bind-Value="Game.ReleaseDate" class="form-control" /> 
                <ValidationMessage For="() => Game.ReleaseDate" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Game.Description" class="form-control" /> 
                <ValidationMessage For="() => Game.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="rate" class="form-label">Rate:</label> 
                <InputNumber id="rate" @bind-Value="Game.Rate" class="form-control" /> 
                <ValidationMessage For="() => Game.Rate" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/games">Back to List</a>
</div>

@code {

    [SupplyParameterFromForm]
    public Game Game { get; set; } = new Game
    {
        Name  = ""
    };

    // To protect from overposting attacks, see https://aka.ms/RazorPagesCRUD
    public async Task AddGame()
    {
        DB.Games.Add(Game);
        await DB.SaveChangesAsync();
        NavigationManager.NavigateTo("/games");
    }
}
